body{
    background-color:#ffffff ;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
header{
    background-color: #a4e8a8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 4px solid rgb(12, 129, 64);
}
.logo{
    width: 200px;
}
.logo img{
    width: 100%;

}
.logo img:hover{
    transform: scale(.9);
    transition: all .4s ease-in-out;
}
nav{
    background-color: #90cd91;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
li{
    margin-right: 20px;
}
a{
    text-decoration: none;
    font-size: larger;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #62a363;
}
.hero img{
    width: 100%;
}
.hero-teks{
    background-color: #a4e8a8;
    color: #62a363;
    padding: 10px;
    text-align: center;

}
#about {
    background-image: url(./asset/Untitled\ design\ \(1\).gif);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
    padding: 60px;
    background-color: #83a984;
}

#about h2{
    margin-top: 100px;
    width: 50%;
    padding-left: 60px;

}
#about p {
   width: 50%;
   padding-left: 60px;
}

#product {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    margin: 40px;
  }
  
  
  #product h2 {
    text-align: center;
    color: #344CB7;
  }
  
  
  .card-product {
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  
  .card button:hover {
    opacity: 0.7;
  }

  #contact {
    width: 100%;
    display: flex;
    padding: 30px;
    border: 1px; #62a363;
  }

  .contact-teks{
    align-items: center;

  }
   
  .contact h2{
    color: #90cd91;
  }

  .contact-teks p {
    font-size: large;
    padding-left: 70px;
  }
  
.contact-teks button {
    padding: 8px 35px;
    background-color: #90cd91;
    border: none;

}

.contact-teks button:hover {
    background-color: aqua;
    box-shadow: 3px 3px 12px greenyellow;
} 

footer{
  text-align: center;
  padding: 12px;
  background-color: #344CB7;
  color: chartreuse;
}
